# US prices and volumes match

In [1]:
import sys
sys.path.insert(0, '../../src')
#   https://realpython.com/python-modules-packages/
sys.path.append('../../src/d01_data')
sys.path.append('../../src/d02_processing')
sys.path.append('../../src/d03_modelling')

import extractions as extract
import transformations as transf
import training as train
import import_data as imp
import inference as inf

ctry = 'US'
crop = 'RASPBERRIES'
trade_ctry = 'MX'
ctgr = 'std'

In [2]:
df_prices = extract.get_prices_state(crop, ctry, trade_ctry, ctgr)
#df_prices.set_index('Date_price',inplace=True)

In [3]:
df_prices.shape

(1722, 8)

In [4]:
df_prices.head(2)

,State,Product,Country,Trade_Country,Category,Date_price,Campaign,Price
0,TEXAS,RASPBERRIES,US,MX,std,2010-01-04,2009,15.747306
1,TEXAS,RASPBERRIES,US,MX,std,2010-01-05,2009,15.747306

In [5]:
df_volumes = extract.get_volumes_state(crop, ctry, trade_ctry)

In [6]:
df_volumes.shape

(12091, 7)

In [7]:
df_volumes.head(2)

     State      Product Country Trade_Country Date_volume  Campaign  Volume
0  ARIZONA  RASPBERRIES      US            MX  2002-05-01      2001     0.0
1  ARIZONA  RASPBERRIES      US            MX  2004-05-07      2003     0.0

In [8]:
import datetime

df_volumes.rename(columns={'Date_volume' : 'Date_ref'},errors="raise",inplace=True)
df_prices.rename(columns={'Date_price' : 'Date_ref'},errors="raise",inplace=True)

df_volumes_prices = df_volumes.merge(df_prices, how='outer', left_on=['State','Product','Country','Trade_Country','Date_ref'], right_on=['State','Product','Country','Trade_Country','Date_ref'])
df_volumes_prices.sort_values(['Product','Country','State','Trade_Country','Date_ref'],inplace=True)

#df_volumes_prices.Volume.fillna(value=0, inplace=True)
#df_volumes_prices.fillna(method='pad', inplace=True)

In [17]:
# First date with price
#first_date = max(df_volumes_prices[(df_volumes_prices.Price).isnull()].index) + datetime.timedelta(days=1)
#df_volumes_prices.drop(df_volumes_prices[df_volumes_prices.index < first_date].index, inplace=True)

max(df_volumes_prices[df_volumes_prices.Price.isnull()].Date_ref)

datetime.date(2020, 8, 27)

In [10]:
df_volumes_prices.head()

,State,Product,Country,Trade_Country,Date_ref,Campaign_x,Volume,Category,Campaign_y,Price
595,ALABAMA,RASPBERRIES,US,MX,2019-04-27,2018.0,4535.9237,NaN,NaN,NaN
76,ALABAMA,RASPBERRIES,US,MX,2019-05-04,2018.0,9071.8474,NaN,NaN,NaN
77,ALABAMA,RASPBERRIES,US,MX,2019-05-11,2018.0,9071.8474,NaN,NaN,NaN
153,ALABAMA,RASPBERRIES,US,MX,2019-05-18,2018.0,4535.9237,NaN,NaN,NaN
154,ARIZONA,RASPBERRIES,US,MX,2001-05-03,2000.0,0.0000,NaN,NaN,NaN

In [11]:
df_volumes_prices.shape

(12093, 10)